
/* anchor color attributes */
a.white {color: white;}
a.cardinal {color:#990000;} /* cardinal */

/* division color attributes */
div.lightgrey {background-color: lightgrey;} 
div.white {background-color: white;} 
div.blue {background-color: blue;} 
div.red {background-color: red;} 
div.ivory {background-color:#fffff0;} 

/* heading color attributes */
h2.white {color: white;}